@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dashboard {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    &__page {
        width: 100%;
        height: 100vh;
        padding: 1rem;
    }

    &__content {
        width: 100%;
        height: 96vh;
        overflow-y: auto;
        background-color: $primary-colour-background;
        border-radius: 1rem;
    }
}