@use './variables' as *;
@use './mixins' as *;
@use './fonts' as *;

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    margin: 0;
    color: $primary-colour-text;
    height: 100vh;
    /* Create the parallax scrolling effect */
    background: conic-gradient(from 112.85deg at 23.75% 100%, rgba(29, 185, 84, 0.82) 0deg, #384062 97.5deg, rgba(12, 10, 62, 0.83) 187.5deg, rgba(14, 29, 64, 0.830617) 240.6deg, rgba(15, 40, 66, 0.830986) 264.38deg, rgba(29, 185, 84, 0.82) 360deg), #000000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        font-size: .875rem;
    }
  }
  
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0;
  
    @include tablet {
        font-size: 2.0625rem;
        line-height: 2.75rem;
    }
  }
  
  h2 {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.25rem;
  
    @include tablet {
        font-size: 2.25rem;
    }
  }
  
  h3 {
    font-size: .8125rem;
    font-weight: 700;
    line-height: 1.125rem;
  
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
  }
  
  p {
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 1.125rem;
  
    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
  }