//Colour variables
//text
$primary-colour-text: #ffffff;
$secondary-colour-text: #6B818C;
//cta
$primary-colour-cta: #6423CC; //active form field outline, button colour
$primary-colour-hover: #4f1da1;
//other
$primary-colour-background: #0C0A3E; //background and CTA text color
$primary-colour-accent: #1DB954;



//breakpoint variables
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$large-desktop-breakpoint: 1920px;