@use './styles/partials/global' as *;

.app {
    width: 100vw;
    height: 100vh;
    background: conic-gradient(from 112.85deg at 23.75% 100%, rgba(29, 185, 84, 0.82) 0deg, #384062 97.5deg, rgba(12, 10, 62, 0.83) 187.5deg, rgba(14, 29, 64, 0.830617) 240.6deg, rgba(15, 40, 66, 0.830986) 264.38deg, rgba(29, 185, 84, 0.82) 360deg), #000000;
}