@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.analysis {
    padding: 1rem;
    max-width: 100%;

    @include desktop {
        padding: 1.5rem;
    }

    &__selector {
        background-color: $primary-colour-cta;
        border: none;
        color: $primary-colour-text;
        background-image: url('../../assets/icons/genre_icon.svg'), url('../../assets/icons/arrow_down.svg');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        background-position: left 0.75rem center, right 0.4rem center;
        padding: 0.75rem 1rem 0.75rem 1.15rem;
        border-radius: 0.75rem;
        width: 10rem;
        text-align: center;
        appearance: none;

        &:focus{
            outline: none;
        }
    }

    &__insights {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }

    &__progressBars {

        @include desktop {
            width: 30%;
            margin-right: 1.5rem;
        }
    }

    &__container {
        width: 100%;

        @include desktop {
            width: 70%;
        }
    }

    &__otherFeatures {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        border-radius: 1rem;
        padding: 2rem 1rem 1rem 1rem;
        margin-top: 1.5rem;
        background-color: #1E1C59;
        position: relative;

        @include desktop {
            height: 14rem;
        }
    }

    &__infoIcon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        min-width: 8.75rem;
        margin-bottom: 2rem;

        @include desktop {
            width: 33%;
        }
    }

    &__feature {
        margin: 0 0 1.25rem 0;
        font-size: 1rem;
    }

    &__value {
        color: $secondary-colour-text;
        font-size: 1.875rem;
        font-weight: 700;
        margin: 0;
    }

    &__trends {
        width: 100%;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 1.5rem;
        background-color: #1E1C59;

        @include desktop {
            height: 37.25rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
    }

    &__chart {
        max-width: 100%;

    }
}